body {
  /* background-color: #B9D6F2; */
  /* background-color: #d1e4f6; */
}

/* Main*/
.main-container {
  /* width: 80%; */
  /* margin: 0 auto; */
  background-color: #30D5C8;
  margin: 2 4rem;

}
.main-title {
  color:black;
  text-align: center;
}

.animal-quote-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* background-color: grey; */
}

.main-button{
  width: 25%;

}

.searchbar_container {
  border: 1px solid black;
  background-color: white;
}

.header {
  margin-left: 1rem;
}

/* Cute Animals*/
.cute-animals-main-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* Quotes*/
.quote-main-container {
  display: flex;
  justify-content: center;
  border: 1px black solid;
  margin: .5rem;
  padding: .5rem;
  background-color: #3B6064;
  color: #E0ACD5;
  border-radius: 5px;
  width: 50%;
}

/* SearchBar*/
.searchbar_inner_container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.error_message {
  color: red;
  margin-left: 1rem;
}
.title_label {
  margin-right: 0.5rem;
}
.search-button {
  margin-left: 0.5rem;
  cursor: pointer;
}

/* Cute Animals */

.imageTag {
  height: 400px;
}

/* Side Bar */

